* {
    background-color: seagreen;
    margin-left: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


body {}

main {
    display:
}

nav {
    background-color: #DFDCDB;
    min-width: 100%;
    height: 4vh;
    position: absolute;
    top: 0;
}

#heroContainer {
    /* display: none; */
}

#refresh {
    background-color: white;
    border: 3px solid black;
    border-radius: 0px 6px 6px 0px;
    padding: 0px 15px;
    margin-top: 0px;
    height: 4vh;
}

#headerPlusButton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    position: fixed;
    left: 25%;
    top: 35%;
}

div,
h1 {
    z-index: 1;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#playButton {
    color: white;
    border: none;
    background-color: transparent;
    font-size: 70px;
    transition: all 0.7s;
    text-shadow: 2px 1px #747474,
        -1px 3px 1px #767676,
        -2px 5px 1px #787878,
        -3px 7px 1px #7a7a7a,
        -4px 9px 1px #7f7f7f,
        -5px 11px 1px #838383,
        -6px 13px 1px #878787;
}

#playButton:hover {
    color: antiquewhite;
    transform: scale(1.1);
    rotate: 360deg;
}

.blackJackHeader {
    color: #DFDCDB;
    /* color: #0d0d0d; */
    text-shadow: 0 2px 1px #747474,
        -1px 3px 1px #767676,
        -2px 5px 1px #787878,
        -3px 7px 1px #7a7a7a,
        -4px 9px 1px #7f7f7f,
        -5px 11px 1px #838383,
        -6px 13px 1px #878787,
        -7px 15px 1px #8a8a8a,
        -8px 17px 1px #8e8e8e,
        -9px 19px 1px #949494,
        -10px 21px 1px #989898,
        -11px 23px 1px #9f9f9f,
        -12px 25px 1px #a2a2a2,
        -13px 27px 1px #a7a7a7;
}

.backCardPurp {
    width: .4em;
    position: fixed;
    left: 1.2em;
    top: 36%;
    margin: auto;
    transform: rotate(145deg);
}

.backCardPink {
    width: .4em;
    position: fixed;
    left: 1.5em;
    top: 36%;
    margin: auto;
    transform: rotate(155deg);
}

.backCardGreen {
    z-index: 1;
    width: .4em;
    position: fixed;
    right: 1.5em;
    top: 36%;
    margin: auto;
    transform: rotate(30deg);
}

.backCardRed {
    width: .4em;
    position: fixed;
    right: 1.2em;
    top: 36%;
    margin: auto;
    transform: rotate(35deg);
}

.logo1Point5 {
    width: .5em;
    position: fixed;
    left: 1em;
    margin: auto;
}

.logo1 {
    z-index: 1;
    width: .5em;
    position: fixed;
    left: .7em;
    margin: auto;
    transform: rotate(-10deg);
}

.LogosWrap{
    animation-name: moveLogos;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes moveLogos {
    from {
        transform: translate(0,0);
    }
    to {
        transform: translate(39%, 15vh);
        /* animation: fade-out 500ms forwards; */
        /* opacity: 0%; */
    }
}

#dealerVsPlayer {
    display: flex;
    display: none;
    flex-direction: column;
    min-height: 100%;
}

.dealerText {
    position: fixed;
    top: 1em;
    left: 43.2%;
    margin: 0 auto;
}

.dealerHand, img {
    width: 5em;
}

.dealerCard1 {
    position: fixed;
    top: 10em;
    left: 44%;
}

.dealerCard2 {
    position: fixed;
    top: 10em;
    right: 44%;
}

.playerText {
    position: fixed;
    bottom: 5.5em;
    left: 43.2%;
    margin: 0 auto;
}

.playerCard1 {
    position: fixed;
    bottom: 10.8em;
    left: 44%;
}

.playerCard2 {
    position: fixed;
    bottom: 10.8em;
    right: 44%;
}


footer {
    background-color: #DFDCDB;
    min-width: 100%;
    height: 4vh;
    position: absolute;
    bottom: 0vh;

} 

#footerImgs {
    min-width: 100%;
    height: 7vh;
    position: fixed;
}

/* .hideHitStay {
    display: none;
} */

.hitStayWrap {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: fixed;
    left: 41.8%;
    bottom: 8%;
}

#hit {
    border: 3px solid black;
    border-radius: 6px 6px;
    background-color: white;
    width: 8em;
    padding: 10px 37px;
    margin: 0 2.4%;
}

#stay {
    border: 3px solid black;
    border-radius: 6px 6px;
    background-color: white;
    width: 8em;
    padding: 10px 30px;
    margin: 0 2.4%;
    
}