* {
    background-color: seagreen;
    margin-left: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


body {}

nav {
    background-color: #DFDCDB;
    min-width: 100%;
    height: 4vh;
    position: absolute;
    top: 0;
}

#heroContainer {
    /* display: none; */
}

#refresh {
    background-color: white;
    border: 3px solid black;
    border-radius: 0px 6px 6px 0px;
    padding: 0px 15px;
    margin-top: 0px;
    height: 4vh;
}

#headerPlusButton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    position: fixed;
    left: 25%;
    top: 35%;
}

div,
h1 {
    z-index: 1;
    background-color: transparent;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#playButton {
    color: white;
    border: none;
    background-color: transparent;
    font-size: 70px;
    transition: all 0.7s;
    text-shadow: 2px 1px #747474,
        -1px 3px 1px #767676,
        -2px 5px 1px #787878,
        -3px 7px 1px #7a7a7a,
        -4px 9px 1px #7f7f7f,
        -5px 11px 1px #838383,
        -6px 13px 1px #878787;
        /* -7px 15px 1px #8a8a8a,
        -8px 17px 1px #8e8e8e,
        -9px 19px 1px #949494,
        -10px 21px 1px #989898; */
    /* -11px 23px 1px #9f9f9f,
    -12px 25px 1px #a2a2a2, 
    -13px 27px 1px #a7a7a7,
    -14px 29px 1px #adadad,
    -15px 31px 1px #b3b3b3,
    -16px 33px 1px #b6b6b6,
    -17px 35px 1px #bcbcbc,  */
    /* -18px 37px 1px #c2c2c2,
    -19px 39px 1px #c8c8c8,
    -20px 41px 1px #cbcbcb,
    -21px 43px 1px #d2d2d2,
    -22px 45px 1px #d5d5d5, 
    -23px 47px 1px #e2e2e2,
    -24px 49px 1px #e6e6e6,
    -25px 51px 1px #eaeaea,
    -26px 53px 1px #efefef; */

}

#playButton:hover {
    color: antiquewhite;
    transform: scale(1.1);
    rotate: 360deg;
}

h1 {
    color: #DFDCDB;
    /* color: #0d0d0d; */
    text-shadow: 0 2px 1px #747474,
        -1px 3px 1px #767676,
        -2px 5px 1px #787878,
        -3px 7px 1px #7a7a7a,
        -4px 9px 1px #7f7f7f,
        -5px 11px 1px #838383,
        -6px 13px 1px #878787,
        -7px 15px 1px #8a8a8a,
        -8px 17px 1px #8e8e8e,
        -9px 19px 1px #949494,
        -10px 21px 1px #989898,
        -11px 23px 1px #9f9f9f,
        -12px 25px 1px #a2a2a2,
        -13px 27px 1px #a7a7a7;
        /* -14px 29px 1px #adadad,
        -15px 31px 1px #b3b3b3,
        -16px 33px 1px #b6b6b6,
        -17px 35px 1px #bcbcbc,
        -18px 37px 1px #c2c2c2,
        -19px 39px 1px #c8c8c8,
        -20px 41px 1px #cbcbcb,
        -21px 43px 1px #d2d2d2,
        -22px 45px 1px #d5d5d5,
        -23px 47px 1px #e2e2e2,
        -24px 49px 1px #e6e6e6,
        -25px 51px 1px #eaeaea,
        -26px 53px 1px #efefef; */
}

.backCardPurp {
    width: .4em;
    position: fixed;
    left: 1.2em;
    top: 36%;
    margin: auto;
    transform: rotate(145deg);
}

.backCardPink {
    width: .4em;
    position: fixed;
    left: 1.5em;
    top: 36%;
    margin: auto;
    transform: rotate(155deg);
}

.backCardGreen {
    z-index: 1;
    width: .4em;
    position: fixed;
    right: 1.5em;
    top: 36%;
    margin: auto;
    transform: rotate(30deg);
}

.backCardRed {
    width: .4em;
    position: fixed;
    right: 1.2em;
    top: 36%;
    margin: auto;
    transform: rotate(35deg);
}

.logo1Point5 {
    width: .5em;
    position: fixed;
    left: 1em;
    margin: auto;
}

.logo1 {
    z-index: 1;
    width: .5em;
    position: fixed;
    left: .7em;
    margin: auto;
    transform: rotate(-10deg);
}

.LogosWrap{
    animation-name: moveLogos;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes moveLogos {
    from {
        transform: translate(0,0);
    }
    to {
        transform: translate(39%, 15vh);
        /* animation: fade-out 500ms forwards; */
        /* opacity: 0%; */
    }
}

/* .logo2 {
    z-index: 1;
    width: .3em;
    position: fixed;
    right: .5em;
    margin: auto;
    
}

.logo2Point5 {
    width: .3em;
    position: fixed;
    right: 1.0em;
    margin: auto;
    
} */


/* .rightLogosWrap{
    animation-name: moveRightLogos;
    animation-duration: 3s;
    animation-fill-mode: forwards;

} */

/* @keyframes moveRightLogos {
    from {
        transform: translate(0,0);
    }
    to {
        transform: translate(-40.9%, 15vh);
        /* opacity: 0%; */
    



footer {
    background-color: #DFDCDB;
    min-width: 100%;
    height: 4vh;
    position: absolute;
    bottom: 0vh;

} 

#footerImgs {
    min-width: 100%;
    height: 7vh;
    position: fixed;
}

/* .hideHitStay {
    display: none;
} */

.hitStayWrap {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: fixed;
    left: 42%;
    bottom: 8%;
}

#hit {
    border: 3px solid black;
    border-radius: 6px 6px;
    background-color: white;
    width: 8em;
    padding: 10px 37px;
    margin: 0 5%;
}

#stay {
    border: 3px solid black;
    border-radius: 6px 6px;
    background-color: white;
    width: 8em;
    padding: 10px 30px;
    margin: 0 5%;
    
}